---
import { Icon } from 'astro-icon/components'
import '@styles/tech-colors.css'

interface Props {
  title: string
  techs: { name: string, link: string }[]
}


const { title, techs } = Astro.props
---

<section class="card-contributions">
  <h3>{title}</h3>
  <div class="badges">
    {
      techs.map(({ name, link }) => {
        if (!name || !link) return null // sécurité

        const techLower = name.toLowerCase().replaceAll(' ', '-')
        return (
          <a
            href={link}
            class={`badge-tech ${techLower}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name={`techs/${techLower}`} size={16} />
            <span>{name}</span>
          </a>
        )
      })
    }

  </div>
</section>

<style>
  .card-contributions {
    background-color: var(--bg-card-contributions);
    border: 1px solid var(--border-card-contributions-color);
    padding: 16px;
    border-radius: 4px;
    transition: var(--transition-bg), var(--transition-border);

    @media (width >= 768px) {
      max-width: 332px;
      margin-inline: auto;
    }

    > * + *:not(:last-child) {
      margin-top: 16px;
    }

    & h3 {
      margin-bottom: 8px;
    }

    & .badges {
      display: flex;
      flex-wrap: wrap;
      gap: 12px 8px;

      & .badge-tech {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        padding: 4px 12px;
        border-radius: 1000px;
        font-size: 0.75rem;
        text-decoration: none;
        color: inherit;
        transition: background-color 0.2s;

        &:hover {
          background-color: var(--bg-secondary-color);
        }
      }
    }
  }
</style>
